* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Roboto", "Noto", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  /* border: 5px solid darkorange; */
}

#container {
  height: 100vh;
  overflow: auto;
}

.main-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  border: 5px solid black;
  height: 100vmax;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 1;
  grid-column: span 3;
  background-color: #ffff;
  /* border: 5px solid darkorchid; */
}
.section-1 {
  grid-row: 2;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid darkslateblue; */
}

.section-2 {
  grid-row: 3;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid darkgreen; */
}

.section-3 {
  grid-row: 4;
  grid-column: span 3;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr 1fr;
  /* border: 5px solid darkturquoise; */
}
.t-shirts-images {
  grid-row: 1;
  grid-column: span 2;
  display: flex;
  /* border: 5px solid darkmagenta; */
}

.t-shirt-image-1 {
  grid-row: 1;
  grid-column: 1;
  /* border: 5px solid deeppink; */
  width: 50%;
}

.t-shirt-image-2 {
  grid-row: 1;
  grid-column: 2;
  /* border: 5px solid orange; */
  width: 50%;
}

.t-shirts-m {
  flex: 1;
  /* border: 5px solid red; */
}

.t-shirts-l {
  flex: 1;
  /* border: 5px solid darkcyan; */
}

.combined-t-shirts {
  grid-row: 2;
  grid-column: span 2;
  display: flex;
  /* border: 5px solid darksalmon; */
}

footer {
  grid-row: 5;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid deeppink; */
}

.hamburger {
  cursor: pointer;
}

.hamburger .line {
  width: 24px;
  height: 4px;
  margin: 2px;
  background-color: #252525;
}

.hamburger-nav ul li a {
  text-decoration: none;
}

.hamburger-nav {
  display: none;
}

.hamburger-nav.active {
  display: grid;
}

.shop-logo {
  font-size: 16px;
  color: #2020;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
}

img {
  height: 100%;
  width: 100%;
}

.mens_outerwear_coverpage {
  grid-row: 2;
  grid-column: span 3;
}

.mens-outerwear-title {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 8px 24px;
  font-size: 14px;
  color: #202020;
  background-color: #ffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.ladies_outerwear_coverpage {
  height: 100%;
  width: 100%;
  grid-row: 5;
  grid-column: span 3;
}

.ladies-outerwear-title {
  grid-row: 6;
  grid-column: 2;
  white-space: nowrap;
}

.button-1 {
  grid-row: 7;
  grid-column: 2;
  padding: 8px 44px;
  font-size: 14px;
  color: #202020;
  background-color: #ffff;
  text-transform: uppercase;
}

.men-t-shirts-title {
  display: flex;
  justify-content: center;
  grid-row: 9;
  grid-column: 1;
}

.ladies-t-shirts-title {
  display: flex;
  justify-content: center;
  grid-row: 9;
  grid-column: 3;
}

.button-2 {
  grid-row: 10;
  grid-column: 1;
  padding: 8px 14px;
  font-size: 10px;
  color: #202020;
  background-color: #ffff;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0px 38px;
}

.button-3 {
  grid-row: 10;
  grid-column: 3;
  padding: 8px 14px;
  font-size: 10px;
  color: #202020;
  background-color: #ffff;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0px 38px;
}

.footer-title {
  font-size: 13px;
  color: #757575;
  grid-row: 11;
  grid-column: 2;
}

.button-4 {
  grid-row: 12;
  grid-column: 2;
  padding: 8px 14px;
  font-size: 13px;
  color: #ffff;
  background-color: #202020;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0px;
}
