* {
  box-sizing: border-box;
}

body,
.main-container {
  margin: auto;
  font-family: "Roboto", "Noto", sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

/* 1 */
header {
  padding: 24px 8px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  color: #202020;
  background-color: #ffff;
}
.header-for-mobile-only {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.shop-logo a {
  font-size: 16px;
  letter-spacing: 8px;
  color: #202020;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.hamburger {
  cursor: pointer;
}

.hamburger .line {
  width: 24px;
  height: 4px;
  margin: 2px;
  background-color: #252525;
}

.hamburger-nav ul li a {
  display: flex;
  flex: 1;
  margin-bottom: 20px;
  text-decoration: none;
  color: #757575;
  padding: 0px 16px;
}

.hamburger-nav {
  display: none;
  position: fixed;
  font-size: 13px;
  top: 0;
  left: 1;
  width: 100%; /* basically this is to make the hamurger-nav take the full widht of the page so that once the ul li items will be displayed then the background page needs to be transparent in color...*/
  height: 100vmax;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* to give a transparent color we use this rgb format  and modifying the opacity level for the color which we want in our background. */
  color: #757575;
}

.hamburger-nav ul {
  list-style-type: none;
  padding: 16px 16px 16px 4px;
  background-color: #fff;
  width: 60%; /* since the navbar is always in the ratio of 60:40   and here the navbar is covering 60% width of the page while the rest 40% will be covered with the background page which will be the header, section , etc  cutted out. */
  margin: 0;
}

.hamburger-nav.active {
  display: grid;
  left: 0;
}

.hamburger-nav-tablet {
  display: none;
}

.cart-logo {
  position: relative;
  margin-right: 16px;
}

.cart-logo span {
  position: absolute;
  /* border: 5px solid greenyellow; */
  border-radius: 48px;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: rgba(2, 2, 55, 0.666);
  color: white;
  top: -16px;
  right: -12px;
}

.fa-cart-shopping {
  font-size: 24px;
}
/* 2 */

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.mens-outerwear-title,
.ladies-outerwear-title {
  font-size: 16.9px;
  font-weight: lighter;
  color: #202020;
}

button {
  font-size: 14px;
  color: #202020;
  background-color: #fff;
  text-transform: uppercase;
  padding: 8px 0px;
  width: 100%;
}
.button-1 {
  width: 60%;
  background-color: red;
}

.section-3 {
  display: flex;
}

.inner-box-1 {
  flex: 1;
}
.inner-box-2 {
  flex: 1;
}
.grid-container {
  display: flex;
}

footer {
  text-align: center;
}

.footer-title {
  color: #757575;
  font-size: 13px;
  margin-bottom: 12px;
}

.button-4 {
  font-size: 13px;
  padding: 6px;
  text-transform: uppercase;
  color: #ffff;
  background-color: #202020;
  width: 50%;
}

/* For Tablet */

@media only screen and (min-width: 600px) {
  * {
    box-sizing: border-box;
  }

  body,
  .main-container {
    margin: auto;
    font-family: "Roboto", "Noto", sans-serif;
    font-size: 13px;
    line-height: 1.5;
  }

  /* 1 */
  header {
    display: flex;
    flex-direction: column;
    padding: 24px 8px;
    font-size: 16px;
    color: #202020;
    background-color: #ffff;
  }

  .shop-logo {
    flex: 1;
    text-align: center;
    margin-bottom: 24px;
  }

  .hamburger {
    display: none;
  }

  .hamburger-nav {
    display: none;
  }

        

  .hamburger-nav-tablet {
    display: flex;
  }

  .hamburger-nav-tablet ul {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  .hamburger-nav-tablet ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #202020;
  }
}
